/*
  Stylus
  SASS
*/

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}

*{
  /* Selector universal afecta todos los elementos de la hoja*/
   margin: 10px;/* con esto decimos que todos los atributos o componentes de la hoja  tendran espacios de 10px entre ellos*/
   padding: 0px;
}

#Cuerpo {
  background-image: url("../Img/BackImage.jpg");
}


#general {

/*background-image: url("../Img/BackImage.jpg");*/
background-color: transparent;
margin: auto;

}



#cabecera{/* cuando en mi html defino un id afecto con #id*/
margin:auto;
font-size: 40px;
margin-top: 5px;
position: relative;
  border-radius: 10px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  font-family: fantasy ;
  height: 150px;
  background: -webkit-radial-gradient(top, green, #2e7d32);

}
#BtnReg {
  margin: auto;
  font-size: 14px;
  color:white;
  height: 50px;
  float: right;
}

#Navs {
  text-align: center;
  margin-left: 200px;
  font-family: fantasy ;
  color:white;
  border-radius: 10px;
}

#Nav:hover{
  color:gray;
}

#Nav{
color: white;
}

#CUERPO{
  background-color: black;
  height: 450px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: top;
}

.row div ul li {
  display:none;
}

#Navs div:hover li{
  display: block;
}
#Navs div li:hover{
  background-color: blue lighten-2;
}

#Pie {
  font-family: fantasy ;
  height: 200px;
  color: black;
}

.SubMenu:hover{
  background-color: #33691e;
  border-radius: 10px;
}

#ContactoFace {
  display: inline-block;
}

#Ref{

}

/* TODO ACONTINUACION FORMULARIO PARA REGISTRO */

#form {
  width: 350px;
  height: 630px;
  border: 10px;
  position: absolute;
  left: 500px;
  right: 550px;
  border-radius: 10px;
  color: black;
}

#CuerpoForm {
  background-image: url("../Img/BackImage.jpg");
}

input[type="text"],input[type="password"],input[type="email"],input[type="date"]{
  border-radius: 5px;
  background-color:#2e7d32;
  padding: 3px;
  -webkit-box-shadow:0px 5px 0px #1b5e20 ;
  font-family: fantasy ;
}

#titulo {
  text-align: center;
  font-size: 25px;
  font-family: fantasy ;
}

#BotonSend{
  color: black;
}
